* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;

}

img {
    vertical-align: middle;
}

.container {
    width: 1250px;
    margin: 0 auto;
}

.clr {
    clear: both
}

span {
    display: inline-block
}

/* =============== Common CSS End ============== */

/* ================ Menu part Start ================= */
#menu_part {
    height: 110px;
    background: rgba(0, 0, 0, 0.164);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.menu_cont {
    display: flex;
    flex-wrap: wrap;
}

.menu_logo {
    width: 250px;
    line-height: 110px;
}

.main_menu {
    width: 1000px;
    line-height: 110px;
}

.main_menu ul {
    display: flex;
    justify-content: flex-end;

}

.main_menu ul li a {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Gentium Book Basic', serif;
    position: relative;
    padding: 0 27px;
    display: block;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}

.main_menu ul li a:hover {
    color: #92e97a;
}

.cool_link::after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background: #c7c5bc;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;

}

.cool_link:hover::after {
    width: 100%;

}

/* ================ Menu part End ================= */
/* ================ Banner part Start ================= */
#banner_part {
    padding: 238px 0 143px;
    background: url(../images/banner.jpg) center no-repeat;
    background-size: cover;
}

.banner_text {
    text-align: center;
}

.banner_text h1 {
    font-family: 'Yeseva One', cursive;
    font-size: 90px;
    font-weight: 400;
    color: #fff;
    width: 959px;
    margin-left: 194px;
}

.banner_text img {
    display: block;
    margin: 12px 0 40px 557px;
}

.banner_text a {
    width: 171px;
    height: 50px;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 50px;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    border: 1px solid transparent;
    -webkit-border-radius: 2px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    margin-right: 20px;

}

.banner_text a:hover {
    background: rgba(255, 255, 255, 0.5);
    color: rgba(0, 0, 0, 0.8);
    border: 1px solid #fff;
}

.banner_tag {
    margin-left: 111px;
}

/* ================ Banner part End ================= */
/* ================ Signature part Start ================= */
#sig_part {
    padding: 77px 0;
    background: url(../images/pattern.jpg) center no-repeat;
    background-size: cover;

}

.sig_cont {
    display: flex;
    flex-wrap: wrap;
}

.sig_text {
    width: 550px;
    margin-left: 119px;
    text-align: center;
    margin-top: 45px;
}

.sig_dish {
    width: 530px;
}

.sig_text h2 {
    color: #cc9900;
    font-size: 36px;
    font-weight: 400;
    font-family: 'Yeseva One', cursive;

}

.sig_text p {
    color: #4c4c4c;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 27px 0 37px 75px;
    width: 442px;
}

.sig_dish img {
    width: 100%;
    max-width: 100%;
    transition: all linear 20s;
    -webkit-transition: all linear 20s;
    -moz-transition: all linear 20s;
    -ms-transition: all linear 20s;
    -o-transition: all linear 20s;
}

#sig_part:hover .sig_dish img {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}

/* ================ Signature part End ================= */